html, body {
	overflow:hidden;
	height:100%;
	}
	
      #map {
        width:100%;
	height:100%;
	position:absolute;
	left:0;	
        }
  
      .btn {
	  margin:3px;
	} 
	
      .btn-round { 
	font-weight: bold;
	width: 19px;
	height: 19px;
	text-align: center;
	padding: 1px 0;
	font-size: 13px;
	line-height: 0.1;
	border-radius: 30px;
	}
  
      .sidebar {
	position:absolute;
	top:0; right:0; width:300px;
 	bottom:0;
	overflow-x:auto;
	background-color: rgba(255,255,255,0.9);
	margin:0;
	padding:10px;
	padding-left:20px;
	font-size:15px;
	border-radius:0px;
	text-align:center;
	z-index:80;
	}
  
      #sidebar H1{
      	text-align:left;
      	font-size:medium;
      	font-weight:bold;
      }

      #sidebar H2{
      	text-align:left;
      	font-size:small;
      	font-weight:bold;
      }      

      #sidebar P{
      	text-align:left;
      	font-size:small;
      }      
   
